<% provide(:title, 'O nas') %>
<div class='container-fluid row-fluid'>
  <div class='span8 offset2'>
    <%= image_tag 'about.jpg' %>
  </div>
</div>
<div class='container-fluid row-fluid'>
  <div class='span8 offset2'>
  	<p class="about">
      <span class="label label-important">Ruby Wednesday</span> - czyli środowe spotkania początkujących programistów <a href="http://rubyonrails.org/" target="_blank">Ruby on Rails</a>. Większość z nas dopiero zaczyna przygodę z programowaniem, ale cotygodniowe spotkania oraz pomoc coachów (dzięki <a href="http://about.me/przemyslaw.dabek" target="_blank">Przemek!</a>:)) istotnie wspomagają własną pracę.
    </p>
    <p>
      Grupa powstała z inicjatywy Moniki, która po warsztatach <a href="https://www.facebook.com/media/set/?set=a.268487483244815.63323.136157603144471&amp;type=3" target="_blank">Rails Girls Kraków 2012</a>, działając w ramach <a href="http://webmus.es/muses" target="_blank">Webmuses</a> rozpoczęła poszukiwania osób chętnych do wzajemnego wspierania się i wspólnego pokonywania najtrudniejszych, początkowych etapów nauki RoR.
    </p>
    <p>
      Spotkania odbywają się od 6 czerwca 2012, co środę w godzinach od 20:00 do 23:00 w udostępnianym przez <a href="https://plus.google.com/u/0/113611221698815478527/posts" target="_blank">Paulę</a> lokalu biurowym w centrum Krakowa (Starowiślna 19).
    </p>
  </div>
</div>
