<div class="container">
	<div class="row"> 
		<div class="span1">
		</div>
		<div class="span6">  
			<p><img src="http://www.infodump.pl/images/we_can_do_it.jpg" xwidth="450" xheight="415" /></p>   
		</div>  
		<div class="span4">  
			<h1 style="font-family: 'Chivo', sans-serif; font-size: 145px; font-weight: 900; color: Darkred; line-height: 105px;">WE</br><span style="font-size: 115px; color: Firebrick;">CAN</span></br><span style="font-size: 170px; line-height: 110px; color: Crimson;">DO<span style="font-size: 180px; line-height: 130px; color: Red"> IT!</span></h1>
		</div> 
		<div class="span1">
		</div> 
	</div>	
</div>

