<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="description" content="#">
		<meta name="keywords" content="#">
		<meta name="author" content="WMardyla">
		<link rel="shortcut icon" href="html/img/favicon.png">
		<link rel="stylesheet" href="../assets/stylesheets/1140.css">
		<link rel="stylesheet" href="../assets/stylesheets/style.css">
		<title>We Can Do It at Wednesdays :)</title>
	</head>
<body>
	<div class="container">
		<div class="row header">
			<div class="fourcol">
				
			</div>
			<div class="fourcol center">
				<h1> Ruby on Rails</br> Wednesdays</h1>				
			</div>
			<div class="fourcol last">
				
			</div>
		</div>
		<div class="row image">
			<div class="fourcol">
				
			</div>
			<div class="fourcol">
				<img src="http://www.infodump.pl/images/we_can_do_it.jpg">
			</div>	
			<div class="fourcol last">
				
			</div>			
		</div>
		<div class="row content">
			<div class="threecol">
				Home
			</div>
			
			<div class="threecol">
				<%= link_to 'Who we are, what we do!', onas_path %></br></br>
			</div>
			
			<div class="threecol">
				Technical links
			</div>
			
			<div class="threecol last">
				<a href="../tree" target="_blank">Tree of Directories Knowledge :)</a></br></br>
			</div>
							
		</div>
		<div class="row footer">
			<div class="elevencol">
			</div>
			<div class="onecol last">
				Ruby Wednesdays 2012
			</div>			
		</div>		
		
	</div>

</body>
</html>