<div class="row">
  <div class="span1">
  </div>
  <div class="span6">
    <p><%= image_tag 'we_can_do_it.jpg' %></p>
  </div>
  <div class="span4">
    <h1 class="logo-we">WE</br>
      <span class="logo-can">CAN</span></br>
      <span class="logo-do">DO</span></br>
      <span class="logo-it"> IT!</span>
    </h1>
  </div>
  <div class="span1">
    </div>
  </div>	
</div>
