<% provide(:title, 'Strona główna') %>
<div class="row center">
  <div class="span12">
    <p><%= image_tag 'we_can_do_it.jpg' %></p>
  </div>
</div>
<div class="row">
  <div class="span10 offset1">
    <div class="well center">
      Ostatnio dodany link: <%= last_link %>
      <br/>
      Ostatnio dodany przewodnik: <%= last_guide %>
    </div>
  </div>
</div>
