- provide(:title, 'Struktura aplikacji Ruby on Rails')
%ul#files
  %li
    %a{:href => "app"} app
    %ul
      %li
        %a{:href => "app/assets"} assets
        %ul
          %li
            %a{:href => "app/assets/images"} images
            %ul
              %li
                %a{:href => "app/assets/images/rails.png"} rails.png
          %li
            %a{:href => "app/assets/javascripts"} javascripts
            %ul
              %li
                %a{:href => "app/assets/javascripts/application.js"} application.js
          %li
            %a{:href => "app/assets/stylesheets"} stylesheets
            %ul
              %li
                %a{:href => "app/assets/stylesheets/application.css"} application.css
      %li
        %a{:href => "app/controllers"} controllers
        %ul
          %li
            %a{:href => "app/controllers/application_controller.rb"} application_controller.rb
      %li
        %a{:href => "app/helpers"} helpers
        %ul
          %li
            %a{:href => "app/helpers/application_helper.rb"} application_helper.rb
      %li
        %a{:href => "app/mailers"} mailers
        %ul
      %li
        %a{:href => "app/models"} models
        %ul
      %li
        %a{:href => "app/views"} views
        %ul
          %li
            %a{:href => "app/views/layouts"} layouts
            %ul
              %li
                %a{:href => "app/views/layouts/application.html.erb"} application.html.erb
  %li
    %a{:href => "config"} config
    %ul
      %li
        %a{:href => "config/application.rb"} application.rb
      %li
        %a{:href => "config/boot.rb"} boot.rb
      %li
        %a{:href => "config/database.yml"} database.yml
      %li
        %a{:href => "config/environment.rb"} environment.rb
      %li
        %a{:href => "config/environments"} environments
        %ul
          %li
            %a{:href => "config/environments/development.rb"} development.rb
          %li
            %a{:href => "config/environments/production.rb"} production.rb
          %li
            %a{:href => "config/environments/test.rb"} test.rb
      %li
        %a{:href => "config/initializers"} initializers
        %ul
          %li
            %a{:href => "config/initializers/backtrace_silencers.rb"} backtrace_silencers.rb
          %li
            %a{:href => "config/initializers/inflections.rb"} inflections.rb
          %li
            %a{:href => "config/initializers/mime_types.rb"} mime_types.rb
          %li
            %a{:href => "config/initializers/secret_token.rb"} secret_token.rb
          %li
            %a{:href => "config/initializers/session_store.rb"} session_store.rb
          %li
            %a{:href => "config/initializers/wrap_parameters.rb"} wrap_parameters.rb
      %li
        %a{:href => "config/locales"} locales
        %ul
          %li
            %a{:href => "config/locales/en.yml"} en.yml
      %li
        %a{:href => "config/routes.rb"} routes.rb
  %li
    %a{:href => "config.ru"} config.ru
  %li
    %a{:href => "db"} db
    %ul
      %li
        %a{:href => "db/seeds.rb"} seeds.rb
  %li
    %a{:href => "doc"} doc
    %ul
      %li
        %a{:href => "doc/README_FOR_APP"} README_FOR_APP
  %li
    %a{:href => "Gemfile"} Gemfile
  %li
    %a{:href => "Gemfile.lock"} Gemfile.lock
  %li
    %a{:href => "lib"} lib
    %ul
      %li
        %a{:href => "lib/assets"} assets
        %ul
      %li
        %a{:href => "lib/tasks"} tasks
        %ul
  %li
    %a{:href => "log"} log
    %ul
  %li
    %a{:href => "public"} public
    %ul
      %li
        %a{:href => "public/404.html"} 404.html
      %li
        %a{:href => "public/422.html"} 422.html
      %li
        %a{:href => "public/500.html"} 500.html
      %li
        %a{:href => "public/favicon.ico"} favicon.ico
      %li
        %a{:href => "public/index.html"} index.html
      %li
        %a{:href => "public/robots.txt"} robots.txt
  %li
    %a{:href => "Rakefile"} Rakefile
  %li
    %a{:href => "README.rdoc"} README.rdoc
  %li
    %a{:href => "script"} script
    %ul
      %li
        %a{:href => "script/rails"} rails
  %li
    %a{:href => "test"} test
    %ul
      %li
        %a{:href => "test/fixtures"} fixtures
        %ul
      %li
        %a{:href => "test/functional"} functional
        %ul
      %li
        %a{:href => "test/integration"} integration
        %ul
      %li
        %a{:href => "test/performance"} performance
        %ul
          %li
            %a{:href => "test/performance/browsing_test.rb"} browsing_test.rb
      %li
        %a{:href => "test/test_helper.rb"} test_helper.rb
      %li
        %a{:href => "test/unit"} unit
        %ul
  %li
    %a{:href => "tmp"} tmp
    %ul
      %li
        %a{:href => "tmp/cache"} cache
        %ul
          %li
            %a{:href => "tmp/cache/assets"} assets
            %ul
  %li
    %a{:href => "vendor"} vendor
    %ul
      %li
        %a{:href => "vendor/assets"} assets
        %ul
          %li
            %a{:href => "vendor/assets/javascripts"} javascripts
            %ul
          %li
            %a{:href => "vendor/assets/stylesheets"} stylesheets
            %ul
      %li
        %a{:href => "plugins"} plugins
        %ul
  %li
    %a{:href => ".gitignore"} .gitignore
#description
  %h1 Drzewo katalogów
  Opis struktury
