<ul id="files">
	<li><a href="app">app</a>
		<ul>
			<li><a href="app/assets">assets</a>
				<ul>
					<li><a href="app/assets/images">images</a>
						<ul><li><a href="app/assets/images/rails.png">rails.png</a></li></ul>
					</li>
					<li><a href="app/assets/javascripts">javascripts</a>
						<ul><li><a href="app/assets/javascripts/application.js">application.js</a></li></ul>
					</li>
					<li><a href="app/assets/stylesheets">stylesheets</a>
						<ul><li><a href="app/assets/stylesheets/application.css">application.css</a></li></ul>
					</li>
				</ul>
			</li>
			<li><a href="app/controllers">controllers</a>
				<ul><li><a href="app/controllers/application_controller.rb">application_controller.rb</a></li></ul>
			</li>
			<li><a href="app/helpers">helpers</a>
				<ul><li><a href="app/helpers/application_helper.rb">application_helper.rb</a></li></ul>
			</li>
			<li><a href="app/mailers">mailers</a>
				<ul></ul>
			</li>
			<li><a href="app/models">models</a>
				<ul></ul>
			</li>
			<li><a href="app/views">views</a>
				<ul>
					<li><a href="app/views/layouts">layouts</a>
						<ul><li><a href="app/views/layouts/application.html.erb">application.html.erb</a></li></ul>
					</li>
				</ul>
			</li>
		</ul>
	</li>
	<li><a href="config">config</a>
		<ul>
			<li><a href="config/application.rb">application.rb</a></li>
			<li><a href="config/boot.rb">boot.rb</a></li>
			<li><a href="config/database.yml">database.yml</a></li>
			<li><a href="config/environment.rb">environment.rb</a></li>
			<li><a href="config/environments">environments</a>
				<ul>
					<li><a href="config/environments/development.rb">development.rb</a></li>
					<li><a href="config/environments/production.rb">production.rb</a></li>
					<li><a href="config/environments/test.rb">test.rb</a></li>
				</ul>
			</li>
			<li><a href="config/initializers">initializers</a>
				<ul>
					<li><a href="config/initializers/backtrace_silencers.rb">backtrace_silencers.rb</a></li>
					<li><a href="config/initializers/inflections.rb">inflections.rb</a></li>
					<li><a href="config/initializers/mime_types.rb">mime_types.rb</a></li>
					<li><a href="config/initializers/secret_token.rb">secret_token.rb</a></li>
					<li><a href="config/initializers/session_store.rb">session_store.rb</a></li>
					<li><a href="config/initializers/wrap_parameters.rb">wrap_parameters.rb</a></li>
				</ul>
			</li>
			<li><a href="config/locales">locales</a>
				<ul><li><a href="config/locales/en.yml">en.yml</a></li></ul>
			</li>
			<li><a href="config/routes.rb">routes.rb</a></li>
		</ul>
	</li>
	<li><a href="config.ru">config.ru</a></li>
	<li><a href="db">db</a>
		<ul><li><a href="db/seeds.rb">seeds.rb</a></li></ul>
	</li>
	<li><a href="doc">doc</a>
		<ul><li><a href="doc/README_FOR_APP">README_FOR_APP</a></li></ul>
	</li>
	<li><a href="Gemfile">Gemfile</a></li>
	<li><a href="Gemfile.lock">Gemfile.lock</a></li>
	<li><a href="lib">lib</a>
		<ul>
			<li><a href="lib/assets">assets</a><ul></ul></li>
			<li><a href="lib/tasks">tasks</a><ul></ul></li>
		</ul>
	</li>
	<li><a href="log">log</a><ul></ul></li>
	<li><a href="public">public</a>
		<ul>
			<li><a href="public/404.html">404.html</a></li>
			<li><a href="public/422.html">422.html</a></li>
			<li><a href="public/500.html">500.html</a></li>
			<li><a href="public/favicon.ico">favicon.ico</a></li>
			<li><a href="public/index.html">index.html</a></li>
			<li><a href="public/robots.txt">robots.txt</a></li>
		</ul>
	</li>
	<li><a href="Rakefile">Rakefile</a></li>
	<li><a href="README.rdoc">README.rdoc</a></li>
	<li><a href="script">script</a>
		<ul><li><a href="script/rails">rails</a></li></ul>
	</li>
	<li><a href="test">test</a>
		<ul>
			<li><a href="test/fixtures">fixtures</a><ul></ul></li>
			<li><a href="test/functional">functional</a><ul></ul></li>
			<li><a href="test/integration">integration</a><ul></ul></li>
			<li><a href="test/performance">performance</a>
				<ul><li><a href="test/performance/browsing_test.rb">browsing_test.rb</a></li></ul>
			</li>
			<li><a href="test/test_helper.rb">test_helper.rb</a></li>
			<li><a href="test/unit">unit</a><ul></ul></li>
		</ul>
	</li>
	<li><a href="tmp">tmp</a>
		<ul><li><a href="tmp/cache">cache</a>
				<ul><li><a href="tmp/cache/assets">assets</a><ul></ul></li></ul>
			</li>
		</ul>
	</li>
	<li><a href="vendor">vendor</a>
		<ul>
			<li><a href="vendor/assets">assets</a>
				<ul>
					<li><a href="vendor/assets/javascripts">javascripts</a><ul></ul></li>
					<li><a href="vendor/assets/stylesheets">stylesheets</a><ul></ul></li>
				</ul>
			</li>
			<li><a href="plugins">plugins</a><ul></ul></li>
		</ul>
	</li>
	<li><a href=".gitignore">.gitignore</a></li>
</ul>
<script type="text/javascript">
	// don't follow links
	$('a').live('click', function(event){ event.preventDefault(); });
</script>

<div id="description">Opis struktury</div>

	