- provide(:title, 'Projekty')
%h1 Nasze projekty

= link_to '+ Nowy projekt', new_project_path, :class => 'btn btn-primary'

.projects
  - @projects.each do |project|
    .project-box{'data-project' => project.id}
      .project-info
        .pull-left.half
          = image_tag 'logos/octocat.png'
        .pull-left.half
          %strong Login:
          %span= github_user(project.username)
          %strong Repozytorium:
          %span= github_repo(project.username, project.repo)
      .project-details
        .description
          %strong Opis projektu:
          %span
        .last-commit-message
          %strong Ostatni commit:
          %span
        .last-commit-date
          %strong Data ostatniego commitu:
          %span
