<h1>Linki</h1>
<div class="links">
  <% @links.each do |link| %>
    <div class="link">
      <h3>
        <%= link_to link.title, link.address %>
        <span class="gray"><%= link_to link.address.truncate(75), link.address %></span>
      </h3>
      <p><%= link.description %></p>
    </div>
  <% end %>
</div>

<%= link_to 'Dodaj nowy', new_link_path, :class => 'btn btn-primary' %>
