- provide(:title, 'Wall')
%h1 Wall of shame/blame/flame

= link_to '+ Nowa wiadomość', new_post_path, :class => 'btn btn-primary'

.posts
  - @posts.each do |post|
    = render post
%br
= render :partial => 'posts/form'
%script{:type => "text/javascript"}$(document).ready(function(){$('.comment').emoticonize();});
