- provide(:title, 'Wall')

%h1 Wall of shame/blame/flame

= render :partial => 'posts/form'

.posts{'data-bind' => 'foreach: posts.slice(0).reverse()'}
  .post-box
    .post-header
      .post-avatar
        %img{'data-bind' => 'attr: { src: avatar }'}
      .post-username{'data-bind' => 'text: username'}
      .post-dateinfo{'data-bind' => 'text: distance, attr: { title: date }'}
    %p.comment{'data-bind' => 'html: comment'}
    .post-actions
      .btn-group{'data-bind' => 'html: actions'}
.posts
  -@posts.each do |post|
    = render post
%br


%script{:type => "text/javascript"}$(document).ready(function(){$('.comment').emoticonize();});
