- provide(:title, 'Nowy wpis na Wall')
%h1 Nowy wpis na Wall

= render 'form'

%p 
  %span{:class => "label label-info"} Feature
  Wpisując adres www w treści, a zostanie on podlinkowany!
  %br
  %span{:class => "label label-info"} Feature
  Wiesz że możesz użyć emotikonek? Po prostu wpisz np. :-) w swoim poście i automagicznie
  zamieni się na 
  %span{:class => "css-emoticon animated-emoticon"} :-)
  
= link_to 'Powrót', posts_path
