// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.logo-we {
	font-family: 'Chivo', sans-serif; font-size: 145px;
	font-weight: 900;
	color: Darkred;
	line-height: 105px;
}

.logo-can {
	font-size: 115px;
	color: Firebrick;
}

.logo-do {
	font-size: 170px;
	line-height: 110px;
	color: Crimson;
}

.logo-it {
	font-size: 180px;
	line-height: 130px;
	color: Red;
}
