.links {
  margin-top: 20px;
  border: 1px dotted #aaa;
}

.link {
  padding: 20px;
}

.link:nth-child(even) {
  background-color: #eee;
}

h3 {
  font-size: 28px;
  color: black;
  margin-bottom: 0;
}


.links h3 a {
  color: #B22222;
  text-decoration: none;
}

.links h3 a:hover {
  background-color: transparent;
}

h3 span.gray a {
  color: gray;
  font-size: 20px;
}

#link_title {
  width: 300px;
}

#link_address {
  width: 300px;
}

#link_description {
  width: 300px;
  height: 100px;
}

#new_link .field {
  display: inline;
}
