.posts {
  font-size: 13px;
  line-height: 18px;
  width: 100%;
}

$wide: 95%;

.post-box {
  position: relative;
  float: left;
  margin: 10px 10px 0 0;
  border: 1px solid #D0D0D0;
  #border-radius: 20px;
  padding: 10px 10px;
  width: $wide;

  strong {
    display: block;
  }

}

.post-header {
  background-color: #EFEFEF;
  height: 70px;
  margin-bottom: 15px;
}

.post-avatar {
  float: left;
  vertical-align: middle;
  width: 50px;
  padding: 10px;
}

.post-username {
  float: left;
  padding-top: 10px;
  font-size: 22px;
  line-height: 26px;
  font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #B22222;
}

.post-dateinfo {
  float: right;
  padding: 10px;
  color: #666;
  font-size: 10px;
  font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
  padding-right: 10px;
}

.project-box:hover .project-actions {
  opacity: 1;
}

.project-info {
  height: 50%;
  img {
    width: 100px;
    height: 100px;
  }
}

.project-details {
  margin-top: -20px;
}

.half {
  width: 50%;
}
