#new-project-button {
  margin-top: 20px;
}

.projects {
  font-size: 13px;
  line-height: 18px;
  width: 100%;
}

$wide: 280px;

.project-box {
  float: left;
  margin: 10px 10px 0 0;
  border: 1px dotted #aaa;
  border-radius: 10px;
  padding: 10px 10px;
  width: $wide;
  height: $wide;

  strong {
    display: block;
  }
}

.project-info {
  height: 50%;
  img {
    width: 100px;
    height: 100px;
  }
}

.project-details {
  margin-top: -20px;
}

.half {
  width: 50%;
}
