// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header {
  h1 {
    margin-bottom: 50px
  }
}

.question-box {
  border-bottom: 1px dotted #999;
  padding: 10px 0;
  width: 550px;
}

.question-summary {
  h3 {
    a {
      color: #07c;
      text-decoration: none;
    }
    a:hover {
      background-color: transparent;
      text-decoration: underline;
    }
  }
}

.new-question {
  margin-top: 50px;
  a {
    background-color: #777;
    color: white !important;
    font-weight: bold;
    padding: 6px 12px 6px 12px;
    text-decoration: none;
  }
  a:hover {
    background-color: #f90;
  }
}
