body {
	font-family: Helvetica, Arial, sans-serif;
}
body a, a:hover, a:visited {
	text-decoration: none;
	color: #FFF;
}
.header {
	background: #FFF;
}

.image {
	background: #FFF;	
}

.content {
	background: #000;
	color: #FFF;
	padding-top: 18px;
	padding-left: 15px;
}

.footer {
	background: #FFF;
	font-size: 10px;
}

.center {
	align: center;
}
