- provide(:title, 'Przewodniki')
%h1 Przewodniki

= link_to '+ Nowy przewodnik', new_guide_path, :class => 'btn btn-primary'

.guides
  - @guides.each do |guide|
    .guide
      %h3= link_to guide.title, guide
      = link_to('Edytuj', edit_guide_path(guide)) if can?(:edit, guide)
      = link_to('Usuń', guide, :confirm => 'Na pewno?', :method => :delete) if can?(:destroy, guide)
