<div class="footer">
	<span class="kontakt"><a href="mailto:&#119;&#101;&#099;&#097;&#110;&#100;&#111;&#105;&#116;&#064;&#111;&#110;&#114;&#097;&#105;&#108;&#115;&#046;&#112;&#108;">&#119;&#101;&#099;&#097;&#110;&#100;&#111;&#105;&#116;&#064;&#111;&#110;&#114;&#097;&#105;&#108;&#115;&#046;&#112;&#108;</a>
	</span> 
    <small>
      Ruby Wednesday 2012
    </small>
</div>